.related-content {
    article {
        height: auto;
    }
}

.subsection-list {
    .article-list--tile {
        article {
            height: auto;
        }
    }
}

main.main {
    max-width: 760px;
}
