.related-content {
    article {
        height: auto;
    }
}

.subsection-list {
    .article-list--tile {
        article {
            height: auto;
        }
    }
}

article.main-article {
    max-width: 760px;
}

.article-list--compact.links {
    max-width: 760px;

    article {
        .article-image {
            img {
                border-radius: 50% !important;
            }
        }
    }
}

form.search-form,
.search-result,
.archives-group {
    max-width: 760px;
}

.subsection-list {
    .article-list--tile {
        article {
            width: auto;
        }
    }
}

.sidebar {
    header {
        .site-avatar {
            .site-logo {
                box-shadow: none;
            }
        }
    }
}
