:root {
    --article-max-width: 760px;

    --code-background-color: rgb(245, 245, 245);
    --code-text-color: rgb(41, 41, 41);

    &[data-scheme="dark"] {
        --code-background-color: #272822;
        --code-text-color: rgba(255, 255, 255, 0.9);
    }
}

.related-content {
    article {
        height: auto;
    }
}

.subsection-list {
    .article-list--tile {
        article {
            height: auto;
        }
    }
}

article.main-article {
    max-width: var(--article-max-width);
}

.article-list--compact.links {
    max-width: var(--article-max-width);

    article {
        .article-image {
            img {
                border-radius: 50% !important;
            }
        }
    }
}

form.search-form,
.search-result,
.archives-group {
    max-width: var(--article-max-width);
}

.subsection-list {
    .article-list--tile {
        article {
            width: auto;
        }
    }
}

.sidebar {
    header {
        .site-avatar {
            .site-logo {
                box-shadow: none;
            }
        }
    }
}

.article-image {
    display: none;
}

.article-content {
    code {
        font-size: .9em;
        font-weight: 500;
        border-radius: 0;
    }
}
